@charset "utf-8";
/* CSS Document */
#xuanfu
{
	position:fixed;
	width: 60px;
	height: 200px;
	text-align: center;
	top: 10%;
	line-height: 280%;
	color: slategray;
	padding:0.1%;
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius:15px;
}

